
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="card">
          <div class="card-body" id= "map">
            <h5 class="card-title">Human Development Index (HDI) Around The Globe</h5>
            <p class="card-text"></p>
            <app-map-chart></app-map-chart>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body" id= "map">
            <h5 class="card-title">Factors Influencing the HDI</h5>
            <app-radial-chart></app-radial-chart>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HDI Over The Years</h5>
            <p class="card-text">Human Development Index of top 10 countries in different regions around the world</p>
            <app-river-graph></app-river-graph>
          </div>
        </div>
      </div>
    </div>
  </div>


